/*.input-wrapper input {*/
/*    background-color: #eee;*/
/*    border: none;*/
/*    padding: 1rem;*/
/*    font-size: 1rem;*/
/*    width: 13em;*/
/*    border-radius: 1rem;*/
/*    color: lightcoral;*/
/*    box-shadow: 0 0.4rem #dfd9d9;*/
/*    cursor: pointer;*/
/*}*/

/*.input-wrapper input:focus {*/
/*    outline-color: lightcoral;*/
/*}*/
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);*/

/*body {*/
/*    background: #ffffff;*/
/*    color: #414141;*/
/*    font: 400 17px/2em 'Source Sans Pro', sans-serif;*/
/*}*/

/*.select-box {*/
/*    cursor: pointer;*/
/*    position : relative;*/
/*    max-width:  16em;*/

/*    width: 100%;*/
/*}*/

/*.select,*/
/*.label {*/
/*    color: #414141;*/
/*    display: block;*/
/*    font: 400 17px/2em 'Source Sans Pro', sans-serif;*/
/*}*/

/*.select {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    padding: 5px 0;*/
/*    height: 40px;*/
/*    opacity: 0;*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
/*    background: none transparent;*/
/*    border: 0 none;*/
/*}*/
/*.select-box1 {*/
/*    background: #ececec;*/
/*}*/

/*.label {*/
/*    position: relative;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*}*/
/*.open .label::after {*/
/*    content: "▲";*/
/*}*/
/*.label::after {*/
/*    content: "▼";*/
/*    font-size: 12px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    padding: 5px 15px;*/
/*    border-left: 5px solid #fff;*/
/*}*/

/*.text-truncate {*/
/*    max-width: 250px; !* Hoặc bất kỳ chiều rộng nào bạn muốn *!*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.search-input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.search-input::placeholder {
    color: #9e9ea7;
}

.search-input:focus, .search-input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    top: 10px;
}
.content .create-minute{
    background-color: #7058f8;
    color: #fff;
}
.content .create-minute:hover{
    background-color: #836ef8;
    color: #fff;
}

.container-form {
    display: flex;
    justify-content: space-between; /* Căn các form ra cách đều nhau */
    align-items: center; /* Căn các form theo chiều dọc */
    margin-top: 50px;
}

.form {
    margin-right: 20px; /* Khoảng cách giữa các form */
}




